.margin-top-15{
	margin-top: 15px;
}

.div-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* edit: added z-index */
	z-index: 1;
	background-image: url('../images/empty.gif');
}

.article {
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 5px 5px 5px 5px;
}

.article-header {
	background: #444;
	border-radius: 5px 5px 5px 5px;
	padding: 8px 8px 8px 8px;
	color: #c9c9c9;
	font-weight: bold;
}

.article-date {
	float: right;
}

#error-block{
	position: absolute;
	top: 200px;
	left: 400px;
	padding: 10px 10px 10px 10px;
	background-color: #5399c8;
	color: #d8d8d8;
	width: auto;
	border-radius: 5px 5px 5px 5px;
	
}
#student-print{
	padding: 10px 10px 10px 10px;
	background-color: #bbd7ea;
	border-radius: 5px 5px 5px 5px;
	position: absolute;
	top: 130px;
	left: 260px;
	margin-top: 0px;
	color: #111;
	
}

#create-form {
	width: 530px;
	padding: 10px 10px 10px 10px;
	background-color: #224e6b;
	border-radius: 5px 5px 5px 5px;
	position: absolute;
	top: 130px;
	left: 260px;
	margin-top: 0px;
	color: #d8d8d8;
}

#create-form table {
	border-collapse: collapse;
}

#create-form td {
	padding: 3px;
}

#create-form-wrapper {
	
}

#test-editor {
	display: inline-block;
	margin-top: 0px;
}

.editor-header {
	/* display: inline-table; */
	padding: 10px 10px 10px 10px;
	background-color: #224e6b;
	border-radius: 5px 5px 5px 5px;
	width: 570px;
	position: absolute;
	top: 290px;
	left: 10px;
/* 	margin-left: 15px;
	margin-top: 4px; */
	color: #d8d8d8;
}

.editor-header td{
	padding: 3px;
	border-collapse: collapse;
}

.editor-block {
	/* display: inline-block; */
	padding: 10px 10px 10px 10px;
	background-color: #224e6b;
	border-radius: 5px 5px 5px 5px;
	width: 570px;
	position: absolute;
	top: 430px;
	left: 10px;
/* 	margin-left: 15px; */
	margin-top: 15px; 
	color: #d8d8d8;
	
}




.editor-block input {
	margin-top: 4px;
	margin-left: 4px;
	float: right;
}

.editor-block table{
	width: 550px;
}

.editor-block td{
	padding: 3px;
	border-collapse: collapse;
}

#test-info{
	background-color: #d4d4d4;
	position: absolute;
	top: 130px;
	left: 260px;
	border-radius: 5px 5px 5px 5px;
	height: 150px;
	width: 340px;
}

#test-preview {
	/* color: #d8d8d8;
	background-color: #224e6b;
	width: 220px;
	padding: 10px 10px 10px 10px;
	border-radius: 5px 5px 5px 5px;
	margin-top: 20px; */
	margin-top: 0px;
	margin-left: 5px;
	/* display: inline-block; */
	vertical-align: top; padding 3px;
	width: 450px;
	height: auto;
	position: absolute;
	top: 120px;
	left: 650px;
	border-radius: 5px 5px 5px 5px;
	color: #111;
	padding: 10px 10px 10px 10px;
	position: relative;
	background: #eee;
}
.question {
	color: #111;
	background-color:  #eee;/* #224e6b; */
	width: auto;
	padding: 10px 10px 10px 10px;
	border-radius: 5px 5px 5px 5px;
	margin-top: 5px;
	border: 2px;
	border-style: solid;
	border-color: #111;
}

.question-body {
	padding: 10px 10px 10px 10px;
	position: relative;
	color: #111;
}

.answer {
	margin-top: 3px; margin-left : 3px;
	/* padding: 10px 10px 10px 10px; */
	color: #111;
	/* background: #d8d8d8; */
	width: 350px;
	height: auto;
	border-radius: 5px 5px 5px 5px;
	margin-left: 3px;

}



#answer-tabe{
	border-spacing: 5px;
	border-collapse: collapse;
	width: 100%;
}

#answer-table tr{
	vertical-align: middle;
}

#answer-tabe td {
	padding: 3px;
	vertical-align: middle;
}


#admin-notifications{
	border-radius: 5px 5px 5px 5px;
	background: #d3d3d3; 
	width: 1113px; 
	height: 150px; 
	position: absolute;
	top: 130px;
	left: 260px;
}

#admin-table{
	position: absolute;
	top: 280px;
	width: 1346px;
}

/* TABLE FROM TEMPLATE STYLE */
.common-table {
	/* 	display: inline-block; */
	font-size: 14px;
/* 	border-radius: 5px 5px 5px 5px;
	position: absolute;
	top: 400px; */
}
#table-content{
	
	
}
#tutor-table{
	font-size: 14px;
	position: absolute;
	left: 270px;
	top: 130px;
	
}


.quiz{
	border-radius: 5px 5px 5px 5px;
	background: #dddddd;
}

#quiz-result{
	position: absolute; 
	top: 130px; 
	left: 260px; 
	background: #dddddd;
	border-radius: 5px 5px 5px 5px;
}

#quiz-result table{
	border-collapse: collapse;
	border-spacing: 3px;
}

#quiz-result td{
	padding: 3px;
}

#quiz-question{
	min-width: 600px;
	min-height: 250px;
	padding: 5px;
}

#quiz-question table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 5px;
}
#quiz-question td {
	padding: 5px;
}
.common-table	td a {
	color: #393939;
}

.common-table	td a:hover {
	text-decoration: underline;
}

.common-table	th {
	height: 50px;
	text-align: left;
}

.common-table	.minwidth-1 {
	min-width: 70px;
}

.common-table td {
	border: 1px solid #d2d2d2;
	padding: 10px 10px 10px 10px;
}

.common-table tr.alternate-row {
	background: #ececec;
}

td.options-width {
	padding: 0 0 0 10px;
	width: 100px;
}

td.checkbox-width {
	
}

.table-header-check {
	/* background: url(../images/table/table_header_checkbox.jpg) no-repeat; */
	background-color: #318cb8;
	border: none;
	min-width: 29px;
	padding: 0px 0 0 10px;
	width: 29px;
}

.table-header-options {
	/* background: url(../images/table/table_header_options.jpg) no-repeat; */
	background-color: #318cb8;
	border: none;
	/* min-width: 170px; */
	padding: 0px 0 0 0;
	width: 150px;
}

.table-header-repeat {
	/* background: url(../images/table/table_header_repeat.jpg) ; */
	background-color: #318cb8;
	border: none;
	font-size: 0px;
	line-height: 0;
	padding: 0px 0 0 0;
}

.table-header-options a, .table-header-repeat a {
	/* background: url(../images/table/table_sort_arrow.gif) right no-repeat; */
	color: #d8d8d8;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	line-height: 14px;
	margin: 0 0 0 10px;
	padding: 0 10px 10px 0;
}

.table-header-options a:hover, .table-header-repeat a:hover {
	color: #94b52c
}

th.line-left {
	border-left: 1px solid #d8d8d8;
}

.common-table	tr.activity-blue {
	background: #e3eceb;
}

/*  TABLE END, BUTTONS  */
a.icon-1 {
	background: url(../images/table/table_icon_1.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
}

a:hover.icon-1 {
	background: url(../images/table/table_icon_1.gif) 0 -24px;
}

a.icon-2 {
	background: url(../images/table/table_icon_2.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
}

a:hover.icon-2 {
	background: url(../images/table/table_icon_2.gif) 0 -24px;
}

a.icon-3 {
	background: url(../images/table/table_icon_3.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
}

a:hover.icon-3 {
	background: url(../images/table/table_icon_3.gif) 0 -24px;
}

a.icon-4 {
	background: url(../images/table/table_icon_4.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
}

a:hover.icon-4 {
	background: url(../images/table/table_icon_4.gif) 0 -24px;
}

a.icon-5 {
	background: url(../images/table/table_icon_5.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
}

a:hover.icon-5 {
	background: url(../images/table/table_icon_5.gif) 0 -24px;
}