/* MAIN DIVS SECTION! */
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: verdana;
	font-size: 16px;
	max-width: 1366px;
	align: center;
	margin: 0 auto;
	float: none;
}

input[type=submit] {
	border: none;
	/* background-color: white; */
}

input{
	color:black;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:HOVER {
	text-decoration: blink;
	color: #a5aeda;
}

#wrap {
	min-height: 100%;
	position: relative;
}

#content {
	
	padding: 10px;
	padding-bottom: 60px;
/* 	max-width: 1366px;
	align: center;
	margin: 0 auto; */
}

#footdiv {
	background-color: #808080;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	/*color: #fff580;
	width:100%;
	position: absolute;
 	 z-index: 101;
	bottom:0;
	left:0;
	height: 30px;*/
}

#headdiv {
	background-image: url(../images/header1.jpg);
	/* background-color: #808080; */
	/*position: absolute;
	height: 50px;
	width: 100%;*/
		border-radius: 10px 10px 10px 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 3px;
	height: 100px;
	padding: 10px;
	color: #fff580;
}

#overhead {
	float:right;
}

/* end main divs */

/* status div */
.status {
	/* margin-top: 3px; */
	margin-left: 5px;
	display: inline-block;
	vertical-align: top; padding 3px;
	background-image: url(../images/header1.jpg);
	width: 240px;
	height: 150px;
	border-radius: 10px 10px 10px 10px;
	color: #fff580;
	position: relative;
}

.status input {
	color: black;
}

.status table {
	margin-top: 10px;
	margin-left: 10px;
	border-spacing: 2px;
	border-collapse: collapse;
}

.status table td, th {
	padding: 6px;
}

/* end status div */
#textbody {
	border-radius: 10px 10px 10px 10px;
	display: inline-block;
	position: absolute; 
	background: #dfdfdf;
	padding: 3px 3px 3px 10px;
	margin-right: 15px;
	/* margin-top: 20px;  */
	/* width: 800px; */
}

.inline-class {
	display: inline-block;
	margin-left: 15px;
}

.question {
	color: black;
	background: #d3d3d3;
	width: auto;
	padding: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	margin-top: 5px;
}



#test-preview {
	/* color: #fff580;
	background-image: url(../images/header1.jpg);
	width: 220px;
	padding: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	margin-top: 20px; */
	margin-top: 20px;
	margin-left: 5px;
	/* display: inline-block; */
	vertical-align: top; padding 3px;
	background-image: url(../images/header1.jpg);
	width: 240px;
	height: auto;
	border-radius: 10px 10px 10px 10px;
	color: #fff580;
	padding: 10px 10px 10px 10px;
	position: relative;
}

#divlogin {
	display: inline-table;
	background-image: url(../images/header1.jpg);
	width: 330px;
	height: 295px;
	border-radius: 10px 10px 10px 10px;
	color: #fff580;
	margin-left: 5px;
	/*  position: relative;  */
}

#divlogin table {
	margin-left: 10px;
	border-spacing: 2px;
	border-collapse: collapse;
}

#divlogin table td {
	padding: 4px;
}

#divlogin input {
	color: black;
}

#signup {
	background-image: url(../images/header1.jpg);
	border-radius: 10px 10px 10px 10px;
	width: 580px;
	height: 380px;
	color: #fff580;
	position: relative;
	/* margin-top: 15px; */
	/* margin-left: 15px; */
	padding: 3px;
}

#signup input {
	color: black;
}

#signup table {
	margin-left: 10px;
	border-spacing: 2px;
	border-collapse: collapse;
}

#signup table td {
	padding: 6px;
}


.frontpage-block{
    padding: 0;
    height: 400px;
    max-height: 500px;
	
}

#updateuser {
	display: inline-block;
	background-image: url(../images/header1.jpg);
	border-radius: 10px 10px 10px 10px;
	width: 370px;
	height: 360px;
	color: #fff580;
	position: relative;
	/* margin-top: 4px; */
	margin-left: 4px;
/* 	padding: 3px; */
}

#updateuser input {
	color: black;
}

#updateuser table {
	margin-left: 10px;
	border-spacing: 7px;
	border-collapse: collapse;
}

#updateuser table td {
	padding: 6px;
}

#test-editor{
	display: inline-block;
	margin-top: 20px;
}

.editor-header {
	/* display: inline-table; */
	padding: 10px 10px 10px 10px;
	background-image: url(../images/header1.jpg);
	border-radius: 10px 10px 10px 10px;
	width: auto;
	position: relative;
/* 	margin-left: 15px;
	margin-top: 4px; */
	color: #fff580;
}

.editor-header td{
	padding: 3px;
	border-collapse: collapse;
}

.editor-block {
	/* display: inline-block; */
	padding: 10px 10px 10px 10px;
	background-image: url(../images/header1.jpg);
	border-radius: 10px 10px 10px 10px;
	width: auto;
	position: absolute;
/* 	margin-left: 15px; */
	margin-top: 15px; 
	color: #fff580;
}

.editor-block input {
	margin-top: 4px;
	margin-left: 4px;
}

.editor-block td{
	padding: 3px;
	border-collapse: collapse;
}

#recovery {
	padding: 3px;
	margin-left: 15px;
	margin-top: 15px;
	background-image: url(../images/header1.jpg);
	width: 300px;
	height: 140px;
	border-radius: 10px 10px 10px 10px;
	color: #fff580;
	position: relative;
	left: 0;
}

#recovery table {
	margin-left: 10px;
	border-spacing: 2px;
	border-collapse: collapse;
}

#recovery table td {
	padding: 6px;
}

#table-content {
	display: inline-block;
	vertical-align: top;
}

.mybg {
	/* background-image: url(../images/header1.jpg); */
	
}
/* .mybg:HOVER{color: #ffff80;} */
#logtable {
	margin: 50;
	padding: 30;
}

.mybutton {
	display: inline-block;
	background-color: #808080;
	width: 100px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px 5px 5px 5px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	margin-top: 15px;
	color: #fff580;
	text-decoration: none;
	/* 	padding: 8px 0 0 0; */
}

.mybutton:hover {
	background-color: #515151;
	color: #fff580;
	text-decoration: none;
}

.mybutton a {
	color: #fff580;
	text-decoration: none;
	text-align: center;
}

.navbutton {
	/* vertical-align: middle; */
	display: inline-block;
	background-color: #464646;
	color: #fff580;
	float: right;
	width: 100px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px 5px 5px 5px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	/* 	margin-top: 7 px; */
	margin-top: 30px;
	margin-left: 10px;
	text-decoration: none;
	/* 	padding: 8px 0 0 0; */
}

.navbutton:hover {
	background-color: #888888;
	color: #fff580;
}

.navbutton a {
	color: #fff580;
	text-decoration: none;
	text-align: center;
}

.common-button {
	/* vertical-align: middle; */
	display: inline-block;
	
	background-color: #3f3f3f;
	color: #fff580;
	width: 90px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px 5px 5px 5px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	/* 	margin-top: 7 px; */
	margin-bottom: 10px;
	 	padding: 0 0 0 0; 
}

.common-button:HOVER {
	cursor: pointer;
	color: #fff580;
	background-color: #6c6c00;
}

.common-button a {
	color: #fff580;
	text-decoration: none;
	text-align: center;
}

#regtable td {
	text-align: left;
	padding: 2px;
}


